.DS_Store
~$*
_la_verify.txt
xbenchTest
*.tar
*.tgz
*.zst
*.tgz
*.tar.lz4
*.lzfse
*.lzfse.*
trace/*.out
trace/*.out.active
trace/lzfse-profile
trace/lzfse-profile.dSYM/
BenchmarkResult.xlsx
trace/*.trace
trace/*.trace.timeout
trace/.trace_package_count
trace/analysis/cpu_call_tree
trace/analysis/toc
*.xml
powerResults/tmp/
gitOwner.sh
translate_status.txt
__pycache__/
*.pyc
LZFSE UI.app/