[submodule "claw-code"]
	path = claw-code
	url = https://github.com/ultraworkers/claw-code.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "swift_tar"]
	path = swift_tar
	url = git@github.com:raliclo/swift_tar.git
